<script type="x/template" id="vue-add-to-wish-list">
        <a class="add-to-wish-list" :class="{active: isVariationInWishList}" @click.prevent="switchState()" data-toggle="tooltip" data-placement="top" title="">
            <i class="fa fa-heart text-appearance"></i>
        </a>
</script>
