[class^="icon-"] {
    display: inline-block;
    background-image: url("https://www.reiseschein.de/layout/responsive/build/img/sprite/sprite.png");
}

[class^="icn-"] {
    display: inline-block;
    background-image: url("https://www.reiseschein.de/layout/responsive/tb/img/sprite/sprite.png");
}
.icon-shopvote {
    width: 65px;
    height: 65px;
    background-position: -136px -120px;
}
.icon-drv-vir {
    width: 65px;
    height: 65px;
    background-position: -68px -120px;
}

.icn-rapid-ssl-tb {
    background-position: 0px -84px;
    width: 65px;
    height: 66px;
}

.icon-amazon {
    width: 60px;
    height: 34px;
    background-position: 0 -188px;
}

.icon-paypal {
    width: 52px;
    height: 31px;
    background-position: -63px -188px;
}
.icon-visa {
    width: 56px;
    height: 18px;
    background-position: -187px -225px;
}

.icon-mastercard {
    width: 43px;
    height: 33px;
    background-position: -84px -225px;
}

.icon-ueberweisung {
    width: 57px;
    height: 18px;
    background-position: -118px -188px;
}

.icon-bitpay {
    width: 54px;
    height: 19px;
    background-position: -130px -225px;
}


.icn-facebook-tb {
    background-position: -89px -43px;
    width: 40px;
    height: 40px;
}

.icn-instagram-tb {
    background-position: -44px 0px;
    width: 40px;
    height: 40px;
}

.icn-twitter-tb {
    background-position: -88px 0px;
    width: 40px;
    height: 40px;
}

.icn-pinterest-tb {
    background-position: 0px 0px;
    width: 40px;
    height: 40px;
}

.icn-youtube-tb {
    background-position: 0px -43px;
    width: 40px;
    height: 40px;
}

.icn-google-tb {
    background-position: -44px -43px;
    width: 40px;
    height: 40px;
}


/* Homepage */
.icn-fs-tb {
    width: 180px;
    height: 56px;
    background-position: -130px 0;
}

.icn-ft-tb {
    width: 180px;
    height: 48px;
    background-position: -130px -57px;
}

.icn-bk-tb {
    width: 180px;
    height: 33px;
    background-position: -130px -133px;
}

.icn-kr-tb {
    width: 180px;
    height: 56px;
    background-position: -154px -317px;
}

.icn-gz-tb {
    width: 180px;
    height: 24px;
    background-position: -130px -105px;
}

.icn-ds-tb {
    width: 180px;
    height: 69px;
    background-position: -130px -171px;
}

.icn-ed-tb {
    width: 57px;
    height: 69px;
    background-position: -70px -85px;
}
